body {
    //font-family: 'Droid Sans Mono';
}

h2, h3 {

    font-family: 'Droid Sans Mono';
    font-weight: 300;

    &::before {
        content: '//';
        margin-right: 10px;
    }
}

.section-bg-primary {
    background-color: @brand-primary;
    color: #fff;
}

.home-bucket {
    font-weight: 300;

    .widget-title {
//        text-align: center;
    }
}