#home-content {
    > .row {
        margin-bottom: 40px;
        margin-top: 40px;
    }
}

.tweet {
    border-bottom: 1px solid #fff;
    margin-bottom: 15px;
    padding-bottom: 15px;

    &:last-child {
        border: none;
    }

    .ago {

    }
}