body {
    //font-family: 'Droid Sans Mono';
}

.slash-title {

    font-family: 'Droid Sans Mono';
    font-weight: 300;

    &::before {
        content: '//';
        margin-right: 10px;
    }
}

#page-container {
    padding-top: 92px;
    padding-bottom: 54px;
    margin-top: -92px;
    margin-bottom: -54px;
    min-height: 100%;
}

.section-bg-primary {
    background-color: @brand-primary;
    color: #fff;

    a {
        color: #fff;
    }
}

.home-bucket {
    font-weight: 300;

    .bucket-title {
        margin-bottom: 25px;
    }
}
