@brand-primary: #455c7a;
@brand-secondary: #2e3641;

@default-border-color: #dedede;

// Bootstrap Overrides

@body-bg: #e9eaed;
@font-size-h1: 32px;

@btn-border-radius-base: @border-radius-small;
@btn-primary-bg: lighten(saturate(@brand-primary, 20%), 10%);

@navbar-height: 72px;
@navbar-default-bg: #fff;
@navbar-default-border: #d7d8da;
@navbar-default-link-color: desaturate(@brand-primary, 20%); //#4e5665;
@navbar-default-link-hover-color: @brand-secondary; // #141924;
